polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" &&
        action.lookup("program") === "/usr/local/libexec/centipede-installer-root" &&
        subject.user === "centipede") {
        return polkit.Result.YES;
    }
});
